@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?c5z9fq');
    src: url('/fonts/icomoon.eot?c5z9fq#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?c5z9fq') format('truetype'),
        url('/fonts/icomoon.woff?c5z9fq') format('woff'),
        url('/fonts/icomoon.svg?c5z9fq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-seat:before {
    content: '\e900';
}
.icon-photo:before {
    content: '\e90f';
}
.icon-wifi:before {
    content: '\e91b';
}
.icon-cart:before {
    content: '\e93a';
}
.icon-meal:before {
    content: '\e9a3';
}
.icon-delete:before {
    content: '\e9ac';
}
.icon-baggage:before {
    content: '\e9ae';
}
.icon-airplane:before {
    content: '\e9af';
}
.icon-priority:before {
    content: '\ea3a';
}
